page-category {
    .pa13 {
        padding: 13px;
    }
    .label-ios{    margin: 0;}
.selectb{    background: #EFEFEF;
    font-size: 15px;
    color: #333333;
    letter-spacing: -0.1px;
    line-height: 24px;
    border-radius: 10px;}
    .select-text {
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 15px;
        font-size: inherit;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        font-size: 0.8em !important;
        font-family: rubik regular,open sans,Arial,sans-serif;
        top: -4px;
        position: relative;
    }
    .countries_check{
        img{
            width:20px !important;
            height:20px;
            border-radius:35px;
            top:2px;
            position: relative;
        }
    }
    .list-ios {
        margin: -1px 0 2px;
    }
    .talepkonum{    font-size: 12px;
        width: 50%!important;
        color: #999999;
        float: left;}
        .talepsaat{    font-size: 12px;
            width: 50%!important;    text-align: right;
            color: #999999;
            float: left;}
    .lastchance{
        ion-col{
            padding-left:0 !important;
            padding-bottom:8px !important;
            padding-right:9px !important;
            margin-right:0px !important;
         
        }
        ion-card{
    /* max-height: 70px !important; */
    height: 70px !important;
    min-height: auto!important;
    padding: 0px !important;
    height: auto!important;
        }
        .kalan{
            bottom:11px;
        }
        .discount{
            top: 5.5%;
    left: 6%;
        }
        .rating{
            top: 16%;
    left: 6%;
        }
    }
ion-label{
    font-weight: 300;overflow: visible;
}
ion-label img {
    top: -4px;
    position: relative;
}
h3{
    font-family: AvenirNext-Medium;
    font-size: 22px;
    color: #000000;    margin: 8px;
}
ion-item{

}
.ppcat{width:36px!important;height:36px;border-radius: 50%;}
.catss h3{
    font-family: AvenirNext-Medium;
    font-size: 13px!important;
    color: #808080;
    line-height: 18px;
    
}
.lastchance .card-content {
    padding: 13px 10px !important;
    font-size: 13px !important;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0px !important;
}
.name{font-size: 13px; 
    color: #000000;}
    .talep{font-size: 12px; color: #999999;}
    .descs{font-size: 13px;
        color: #000000;
        line-height: 20px;}
.catss ion-item:first-child{padding-left: 0; margin-top: 10px;}
.catss ion-item{padding-left: 0; margin-top: 0px;}
.item-inner{ border-bottom:0 !important;padding: 0;padding-right:0!important;}
.checkbox{ margin: 9px 10px 9px 4px !important;}
.hr{
    padding-bottom:15px;
    min-height: 15px;
    width:100%;
    background:#fff;
}
.filt {background: #EFEFEF;
    font-size: 13px;
    color: #000000;
    border-radius: 10px;    width: 153px;
    float: right;
    height: 40px;
    position: absolute;
    text-align: center;
    right: 15px;
}
.select2 {
    width: unset!important;
    margin-top: unset!important;
}
}
