page-products {

    ion-segment-button{
        font-family: rubik regular,open sans,Arial,sans-serif;
  font-weight: 700;
    }
    ion-label{
        white-space: normal;
    }
    .sira{
        max-width: 5% !important;
    }
    .head{
        font-weight: bold;
    }
}
